<!DOCTYPE html>
{% load static %}
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bin2Bin</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <link rel="icon" href="{% static '/img/Bin2Bin.png' %}" type="image/x-icon">
    <link rel="stylesheet" href="{% static 'home.css' %}">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>
    <script src="{% static 'js/animation.js' %}"></script>
</head>
<script>
function openNav() {
  document.getElementById("mySidepanel").style.width = "250px";
}

function closeNav() {
  document.getElementById("mySidepanel").style.width = "0";
}
</script>
<body style="background-color: rgba(242, 247, 248, 0.44);">
    <nav class="navbar navbar-expand-lg" style="background-color: #1abea374;" data-bs-theme="light">
        <div class="container-fluid">
            <a class="navbar-brand" href="/">Bin2Bin</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            {% if request.path == "/" %}
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <button class="btn btn-openpanel" onclick="openNav()">☰ Categorías</button>
                </ul>
                  


                <div id="mySidepanel" class="sidepanel">
                <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">X</a>
                {% for cat in categorias %}
                    <a href="/?categoria={{ cat.id }}">
                        <button class="btn btn-pers">
                            {{ cat.titulo }}
                        </button>
                    </a>
                {% endfor %}
                <a href="/">
                    <button class="btn btn-pers">
                        (todas)
                    </button>
                </a>
                </div>
            {% endif %}
            
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    {% if user.is_authenticated %}
                        {% if request.path != "/publicar/" %}
                            {% if request.path != "/perfil/" %}
                                <li class="nav-item">
                                    <a href="/logout" class="btn btn-openpanel">cerrar sesion</a>
                                </li>
                                <li class="nav-item">
                                    <a href="/publicar" class="btn btn-openpanel">publicar</a>
                                </li>
                                <li class="nav-item">
                                    <a href="/perfil" class="nav-link active d-flex align-items-center">
                                        <img src="{{imagen.imagen.url}}" 
                                            alt="Foto de perfil" 
                                            width="33" 
                                            height="33"
                                            style="border-radius: 50%; margin-right: 6px;">
                                        Perfil
                                    </a>
                                </li>
                            {% else %}
                                <li class="nav-item">
                                    <a href="/logout" class="nav-link active">cerrar sesion</a>
                                </li>
                                <li class="nav-item">
                                    <a href="/publicar" class="nav-link active">publicar</a>
                                </li>
                            {% endif %}
            
                        {% else %}
                            {% if request.path != "/perfil/" %}
                                <li class="nav-item">
                                    <a href="/logout" class="nav-link active">cerrar sesion</a>
                                </li>
                                <li class="nav-item">
                                    <a href="/perfil" class="nav-link active d-flex align-items-center">
                                        <img src="{{imagen.imagen.url}}" 
                                            alt="Foto de perfil" 
                                            width="33" 
                                            height="33"
                                            style="border-radius: 50%; margin-right: 6px;">
                                        Perfil
                                    </a>
                                </li>
                            {% else %}
                                <li class="nav-item">
                                    <a href="/logout" class="nav-link active">cerrar sesion</a>
                                </li>
                            {% endif %}
                        {% endif %}
                    {% endif %}
                </ul>
                {% if request.path == "/" %}
                    <form class="d-flex" role="search" action="/">
                        <input class="form-control me-2" type="search" name="search" placeholder="Search" aria-label="Search"/>
                        <input type="hidden" name="categoria" value="{{ request.GET.categoria }}">
                        <button class="btn btn-outline-success" type="submit">Search</button>
                    </form>
                {% endif %}
            </div>
        </div>
    </nav>


    
    
    {% if not user.is_authenticated %}
        <form action="/signup/" method="GET">
            {% csrf_token %}
            <button>
                crear cuenta
            </button>
        </form>
        <form action="/signin/">
            {% csrf_token %}
            <button>
                iniciar sesion
            </button>
        </form>
    {% endif %}

    {% block content %}
        {% load static %}
    <div class="container">
        <div class="publicaciones">
                {% for pub in publicaciones %}
                <div class="card-publi">
                    {% if pub.imagen.url != blank %}
                    <a href="{% url 'post' pub.id %}">
                            <img src="{{pub.imagen.url}}"
                            alt="{{pub.titulo}}"/>
                    {% else %}
                        <div>
                            <img src="\static\img\noimg.jpg"/>
                        </div>
                    </a>
                    {% endif %}
                <div class="details">
                    <a href="{% url 'post' pub.id %}">
                    <strong>{{ pub.titulo }}</strong> - <!--<strong>{{ pub.descripcion}}</strong> -->
                    <p>{{ pub.creacion|date:"d M Y H:i" }}
                    - {{ pub.usuario }}</p>
                    </a>
                </div>
                </div>
                    
            {% empty %}
                {% if request.path != "/perfil/" %}
                    <li>No se han encontrado publicaciones.</li>
                {% else %}
                    <li>No has publicado nada todavía.</li>
                {% endif %}
            {% endfor %}
            
            </div>
        </div>
    </div>
    {% endblock %}
</body>
</html>