<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bin2Bin</title>
    <link rel="icon" href="{% static '/img/Bin2Bin.png' %}" type="image/x-icon">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
   
    <link rel="stylesheet" href="{% static 'signup.css' %}">
    </head>

<body>
    <main class="container card card-body mb-5 mt-5 form-container ">
        <div class="row">
            <div>
                <h2 class="text-center">Bienvenido a </h2>
                <h1 class="text-center">Bin2bin</h1>
                <h5 class="text-center">Por favor crea tu cuenta</h5>

                <form action="/signup/" method="POST" enctype="multipart/form-data" class="needs-validation" novalidate>
                    {% csrf_token %}
                    {% if request.POST %}
                        {{titulo}}
                    {% endif %}
                    
                    <div class="form-row">
                        
                        <div class="text-center mt-4">
                            <input class="form-control" type="file" accept="image/*" id="formFile" name="imagen" style="display: none">
                            <label for="formFile" class="btn btn-outline-success">
                                <i class="bi bi-upload"></i> Subir imagen
                            </label> 
                            <div id="fileNameText" class="form-text mt-2 text-secondary">
                                No se ha subido ninguna imagen.
                             </div>
                        </div>
                        <script>
                            const fileInput = document.getElementById('formFile');
                            const fileNameText = document.getElementById('fileNameText');

                            fileInput.addEventListener('change', () => {
                            if (fileInput.files.length > 0) {
                                fileNameText.textContent = `Imagen subida: ${fileInput.files[0].name}`;
                                fileNameText.classList.remove('text-secondary');
                                fileNameText.classList.add('text-success');
                            } else {
                                fileNameText.textContent = 'No se ha subido ninguna imagen.';
                                fileNameText.classList.remove('text-success');
                                fileNameText.classList.add('text-secondary');
                            }
                            });
                        </script>
                        <div class="position-relative">
                            <label for="username" class="mt-4">Nombre de usuario</label>
                            <input type="text" class="form-control mt-1 rounded-pill" name="username" id="username"
                                placeholder="Escribe tu nombre de ususario" required>
                            <div class="valid-tooltip">
                                Perfecto!
                            </div>
                        </div>
                        <div class="position-relative">
                            <label for="nombre" class="mt-4">Nombre:</label>
                            <input type="text" class="form-control mt-1 rounded-pill" name="nombre" id="nombre" placeholder="Escribe tu nombre"
                                required>
                            <div class="valid-tooltip">
                                Perfecto!
                            </div>
                        </div>
                        <div class="position-relative">
                            <label for="apellido" class="mt-4">Apellido:</label>
                            <input type="text" class="form-control mt-1 rounded-pill" name="apellido" id="apellido" placeholder="Escribe tu apellido"
                                required>
                            <div class="valid-tooltip">
                                Perfecto!
                            </div>
                        </div>
                        <div class="position-relative">
                            <label for="email" class="mt-4">Email:</label>
                            <input type="email" class="form-control mt-1 rounded-pill" name="email" id="email" placeholder="pedropascal@gmail.com"
                                required>
                            <div class="valid-tooltip">
                                Perfecto!
                            </div>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="position-relative">
                            <label for="password1" class="mt-4">Contraseña:</label>
                            <input type="password" class="form-control mt-1 rounded-pill" name="password1" id="password1" minlength="8"
                                placeholder="***********" required>
                            <div class="invalid-tooltip">
                                Por favor ingrese una contraseña válida.
                            </div>
                        </div>
                        <div class="position-relative">
                            <label for="password2" class="mt-4">Confirmar contraseña:</label>
                            <input type="password" class="form-control mt-1 rounded-pill" name="password2" id="password2" minlength="8"
                                placeholder="***********" required>
                            <div class="invalid-tooltip">
                                Por favor confirme su contraseña.
                            </div>
                        </div>
                    </div>
                    <div class="form2-row">
                        <div class="position-relative">
                            <label for="descripcion" class="mt-4">Descripción:</label>
                            <input type="text" class="form-control mt-1 mb-2 rounded-pill" name="descripcion" id="descripcion"
                                placeholder="Una descripcion tuya (opcional)">
                        </div>
                    </div>
                    <div class="text-center mt-4">
                        <button class="btn btn-success rounded-pill btn-md px-5" type="submit">Crear cuenta</button>
                    </div>
                </form>
            </div>
        </div>
    </main>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI"
        crossorigin="anonymous"></script>

    <script>
        (() => {
        'use strict'
        const forms = document.querySelectorAll('.needs-validation')

        Array.from(forms).forEach(form => {
            form.addEventListener('submit', event => {
            if (!form.checkValidity()) {
                event.preventDefault()
                event.stopPropagation()
            }
            form.classList.add('was-validated')
            }, false)
        })
        })()
    </script>
</body>

</html>