/* General stuff */
:root {
  --secondary-color: rgba(63, 79, 74, 0.503);
  --border: rgba(50, 65, 65, 0.196);
  --box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.053);
}
/* Post layout*/

.publicaciones {
  display: grid;
  grid-template-columns: repeat(4,1fr);
  gap: 30px;
  background: rgba(242, 247, 248, 0.44);
  border-radius: 8px;
  flex-direction: column;
  padding: 25px;  
}

.card-publi {
  display: flex;
  align-items: left;
  display: flex;
  flex-direction: column;
  background-color: white;
  box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.03);
  transition: transform 0.2s ease-in, box-shadow 0.2s ease;
  /*Animacion!!*/
  animation: slide-in 2s ease-in alternate slide-in;
}

.card-publi:hover {
  transform: scale(1.05);
  box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.056);
}
.card-publi img{
  height: 290px;
  width: 100%;
  object-fit: cover;
}

.details {
  padding: 10px 20px 20px 10px;
}
.details a {
  color: var(--secondary-color);
  text-decoration: none;
}

/* Animation details!! */
@keyframes slide-in {
  from {
    translate: 150vw 0;
    sclae: 200% 1;
  }

  to {
    translate: 0 0;
    scale: 100% 1;
  }
}