/* General stuff */
:root {
  --primary-color: #1abea374;
  --secondary-color: rgba(63, 79, 74, 0.503);
  --border: rgba(50, 65, 65, 0.196);
  --box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.053);
}
/* Post layout*/

.publicaciones {
  display: grid;
  grid-template-columns: repeat(5,1fr);
  column-width: 100%;
  gap: 30px;
  background: rgba(242, 247, 248, 0.44);
  border-radius: 8px;
  flex-direction: column;
  padding: 25px;  
}

.card-publi {
  display: flex;
  align-items: left;
  display: flex;
  flex-direction: column;
  background-color: white;
  box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.03);
  transition: transform 0.2s ease-in, box-shadow 0.2s ease;
  /*Animacion!!*/
  animation: slide-in 2s ease-in alternate slide-in;
}

.card-publi:hover {
  transform: scale(1.05);
  box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.056);
}
.card-publi img{
  height: 250px;
  width: 100%;
  object-fit: cover;
}
.card-publi
.details {
  padding: 10px 20px 20px 10px;
}
.details a {
  color: var(--secondary-color);
  text-decoration: none;
}

.details a:hover {
  color: var(--primary-color);
}
.sidepanel  {
  width: 0;
  position: fixed;
  z-index: 1;
  height: 470px;
  top: 0;
  left: 0;
  background-color: #4f9e91;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
  border-radius: 0 0 15px 0;
}
.sidepanel a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 18px;
  color: #000000;
  display: block;
  transition: 2.9s;
}
.sidepanel .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 20 px;
  background-color:#4f9e91;
  color:rgb(8, 14, 11);
  border:none;
  padding: 10px 15px;
  font-size: 1.1rem;
  border-radius: 0 0 5px 5px;
  transition: 0.3s;
}

.sidepanel .closebtn:hover {
    background-color: #9a060685;
    border-color: #f70000;
    border-radius: 0 0 5px 5px;
}

.btn-pers {
  background-color:#4f9e91;
  color:rgb(8, 14, 11);
  border:none;
  padding: 10px 20px;
  font-size: 1.1rem;
}

.btn-pers:hover {
    background-color: #015a49;
}

.btn-openpanel {
  background-color:#4f9e9100;
  color:rgb(8, 14, 11);
  border:none;
  font-size: 1.0rem;
}