/* General stuff */
:root {
  --secondary-color: rgba(63, 79, 74, 0.503);
  --border: rgba(50, 65, 65, 0.196);
  --box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.053);
}
/* Post layout*/

.publicaciones {
  display: grid;
  grid-template-columns: repeat(5,1fr);
  gap: 30px;
  background: rgba(242, 247, 248, 0.44);
  border-radius: 8px;
  flex-direction: column;
  padding: 25px;  
}

.card-publi {
  display: flex;
  align-items: left;
  display: flex;
  flex-direction: column;
  background-color: white;
  box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.03);
  transition: transform 0.2s ease-in, box-shadow 0.2s ease;
  /*Animacion!!*/
  animation: slide-in 2s ease-in alternate slide-in;
}

.card-publi:hover {
  transform: scale(1.05);
  box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.056);
}
.card-publi img{
  height: 250px;
  width: 100%;
  object-fit: cover;
}

.details {
  padding: 10px 20px 20px 10px;
}
.details a {
  color: var(--secondary-color);
  text-decoration: none;
}

.sidepanel  {
  width: 0;
  position: fixed;
  z-index: 1;
  height: 450px;
  top: 0;
  left: 0;
  background-color: #ffffff;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}
.sidepanel a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 18px;
  color: #000000;
  display: block;
  transition: 2.9s;
}
.sidepanel .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 20 px;
}