/* General stuff */
:root {
  --primary-color: #1abea374;
  --secondary-color: rgba(63, 79, 74, 0.503);
  --btn-color:  #072f288f;
  --btn: #047e69ad;
  --border: rgba(50, 65, 65, 0.196);
  --box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.053);
}
/* Post layout*/

.publicaciones {
  display: grid;
  position: relative;
  grid-template-columns: repeat(5,1fr);
  column-width: 100%;
  gap: 30px;
  border-radius: 8px;
  flex-direction: column;
  padding: 25px;  
}

.card-publi {
  height:390px;
  display: flex;
  padding-bottom: 50px;
  flex-direction: column;
  background-color: white;
  box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.03);
  transition: transform 0.2s ease-in, box-shadow 0.2s ease;
}

.card-publi .rounded-pill {
  position: absolute;
  bottom: 10px;
  right: 10px;
  padding: 4px 5px;
  margin: 10px;
  color: var(--btn-color);
  border-style: inherit;
  background-color: var(--primary-color);
  transition: color 0.5s ease;
}

.rounded-pill:hover {
  color: white;
}
.card-publi:hover {
  transform: scale(1.05) !important;
  box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.056);
}
.card-publi img{
  height: 250px;
  width: 100%;
  object-fit: cover;
}

.details {
  padding: 10px 20px 20px 10px;
}
.details a {
  color: var(--secondary-color);
  text-decoration: none;
}

.details a:hover {
  color: var(--primary-color);
}

/*side panel*/
.sidepanel  {
  width: 0;
  position: fixed;
  z-index: 1;
  height: 470px;
  top: 0;
  left: 0;
  background-color: #4f9e91;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
  border-radius: 0 0 15px 0;
}
.sidepanel a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 18px;
  color: #000000;
  display: block;
  transition: 2.9s;
}
.sidepanel .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 20 px;
  background-color:#4f9e91;
  color:rgb(8, 14, 11);
  border:none;
  padding: 10px 15px;
  font-size: 1.1rem;
  border-radius: 0 0 5px 5px;
  transition: 0.3s;
}

.sidepanel .closebtn:hover {
    background-color: #9a060685;
    border-color: #f70000;
    border-radius: 0 0 5px 5px;
}

.btn-pers {
  background-color:#4f9e91;
  color:rgb(8, 14, 11);
  border:none;
  padding: 10px 20px;
  font-size: 1.1rem;
}

.btn-pers:hover {
    background-color: #015a49;
}

.btn-openpanel {
  background-color:#4f9e9100;
  color:rgb(8, 14, 11);
  border:none;
  font-size: 1.0rem;
}

/*alinear las cosas de arriba :p*/
.navbar-nav {
    display: flex;
    align-items: center;
    gap: 15px;
}

.navbar-nav .nav-item a,
.navbar-nav .btn-openpanel {
    display: flex;
    align-items: center;
    justify-content: center;
}

.forms {
  display: none;
}

.navbar-brand {
  width: 150px; 
  height: 108px;
  margin: -10px 0px -14px 15px;
  transition: opacity 0.2s ease-in;
}
.navbar-brand:hover {
  opacity: 0.60;
}

.nav-link .active:hover{
  color:aliceblue;
}

.navbar-brand img {
  margin-top: -4px;
  height: 100px;
  width: fit-content;
}

.btn-outline-success:hover {
    background-color: var(--btn); /* the hover background color you want */
    color: white;                /* text color */
    border-color: var(--btn);
}

.btn-outline-primary {
  border-color: var(--btn);
  color: var(--btn-color);
}

.btn-outline-primary:hover {
    background-color: var(--btn); /* the hover background color you want */
    color: white;                /* text color */
    border-color: var(--btn);
}