:root {
    --primary-color: #1abea374;
    --secondary-color: #047e69ad;
    --bg-color: rgba(242, 247, 248, 0.44);
    --grey-color: rgba(127, 127, 127, 0.697);
    --box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.053);
}

* {
    color: rgba(0, 0, 0, 0.444);
}
.post-gallery {
    display: grid;
    grid-template-columns: 80px 450px 450px 250px 1fr;
    grid-template-rows: repeat(2,1fr);
    column-gap: 25px;
    height: 450px;
    width:450px;
    padding: 20px;
    padding-top: 30px;
}

.big {
    grid-column: 2;
    grid-row: 2;
}
.big img {
    height: 450px;
    width:450px;
    object-fit: cover;
}
.small {
    grid-column: 1;
    grid-row: 2;
    object-fit: cover;
    width:450px;
}
.small li {
    list-style-type: none;
    margin-bottom: 25px;
}
.small img{
    cursor: pointer;
    width: 80px;
    height: 80px;
}

.small img:hover {
    transform: scale(0.95);
    border-style: groove;
    border-color: var(--bg-color);
    box-shadow: var(--box-shadow);
}

.contents {
    grid-column: 3/span 4;
    grid-row: 2;
    border: 2px solid var(--grey-color);
    border-radius: 6%;
    border-color: rgba(128, 128, 128, 0.158);
    padding: 17px;
}