
:root {
  --primary-color: #1abea374;
  --secondary-color: rgba(63, 79, 74, 0.503);
  --btn-color:  #072f288f;
  --btn: #047e69ad;
}
body{
    background-color: rgba(53, 136, 57, 0.486);
}

button,
.btn,
.btn-success {
    color: var(--secondary-color) !important;
    border: none !important;
    background-color: var(--primary-color) !important;
    transition: color 0.5s ease, background-color 0.5s ease !important;
    border-radius: 50px !important;
}

button:hover,
.btn:hover,
.btn-success:hover {
    background-color: var(--btn) !important;
    color: white !important;
}
