{% extends 'hola.html' %}
{$ load static $}
<!-- =================  ACÁ DEBO TRABAJAR GENTE   =====================-->
{% block content %}
<head>
    {% load static %}
    <link rel="stylesheet" href="{% static 'post.css' %}">
    <style>
        titu { 
        display: inline-block;
        font-size: 2em;
        margin-top: 0.1em;
        margin-bottom: 0.5em;
        margin-left: 0;
        margin-right: 0;
        font-weight: 600;
        }
        a {         color: rgb(12, 56, 12);   }
        a:link {    text-decoration: none;}
        a:visited { text-decoration: none;}
        a:hover {   text-decoration: underline; }
        a:active {  text-decoration: underline; }
    </style>
    
</head>

    <div class="post-gallery">
    <!-- la imagen grande -->
        {% if post.imagen.url != blank %}
        <div class="image big">
            <img src="{{post.imagen.url}}" alt="{{post.titulo}}" class="big-img"/>

        </div>
    <!-- galería pequeña :3 -->
        <div class="image small">
        <li>
            <img src="{{post.imagen.url}}" alt="{{post.titulo}}" class="small-img"/>
            {% endif %}
        </li>
        <li>{% if post.imagen2.url != blank %}
            <img src="{{post.imagen2.url}}" alt="{{post.titulo}}" class="small-img"/>
            {% endif %}
        </li>
        <li>{% if post.imagen3.url != blank %}
                <img src="{{post.imagen3.url}}" alt="{{post.titulo}}" class="small-img"/>
            {% endif %}
        <script src="/static/js/post.js"></script>
        </li>
        </div>
        <!-- Contenido extra-->
        <div class="contents">
        <titu>{{ post.titulo }}</titu>
  
            {% if request.user.id != post.usuario.id %}
            <a href="{% url 'ver_perfil' post.usuario %}">
            - {{ post.usuario }}
            </a>
                , {{ post.creacion|date:"d M Y H:i" }}
            {% else %}
            - {{ post.usuario }}, {{ post.creacion|date:"d M Y H:i" }}
            {% endif %}
            <p>{{ post.descripcion }}</p>

        {% if request.user.id == post.usuario.id %}

            <h2>Interesados:</h2>
            {% for inte in interesados %}
            <ul>
                <a href="{% url 'ver_perfil' inte.interesado %}">
                    <li>
                        <strong>{{ inte.interesado }}</strong>
                    </li>
                </a>
            </ul>
            {% empty %}
                <ul><li>No hay interesados</li></ul>
            {% endfor %}
        <div class="btn-wrap">
            <form action="" method="POST">
                {% csrf_token %}
                <button class="btn btn-success" style="background-color: #1abea374; border: none;">
                    Eliminar
                </button>
            </form>
        </div>
        {% else %}
        <div class="btn-wrap">
            <form action="" method="POST">
                {% if hay_interesado %}
                    {% csrf_token %}
                    <button class="btn btn-success" style="background-color: #1abea374; border: none;">
                        No me interesa
                    </button>
                {% else %}
                    {% csrf_token %}
                    <button class="btn btn-success" style="background-color: #1abea374; border: none;">
                        Me interesa
                    </button>
                {% endif %}
            </form>
        {% endif %}
        </div>
        </div>
        <script src="/static/js/post.js"></script>
    </div>
{% endblock %}